color: #243326;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 30px;

  background: rgba(255,255,255,0.72);

  backdrop-filter: blur(20px);

  border-bottom: 1px solid rgba(123,191,89,0.12);
}

.logo {
  font-size: 18px;
  font-weight: 800;
  color: #5c8f3b;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #243326;
  font-weight: 600;
  transition: 0.25s;
}

.nav-links a:hover {
  color: #5fa86d;
}

.nav-links a.active {
  color: #5fa86d;
}

.menu-toggle {
  display: none;

  border: none;
  background: transparent;

  font-size: 28px;

  cursor: pointer;

  color: #5c8f3b;
}


/* HERO */
.hero {
  text-align: center;
  padding: 50px 20px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* FLOOR BUTTONS */
.floor-select {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin: 20px 0 40px;
}

.floor-select button {
  padding: 10px 16px;
  border-radius: 999px;
  border: 1px solid rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.floor-select button:hover {
  transform: translateY(-2px);
  background: white;
}

/* MAP */
.map-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.map-placeholder {
  width: 90%;
  max-width: 900px;
  height: 500px;
  border-radius: 30px;
  background: rgba(255,255,255,0.6);
  border: 1px dashed rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  opacity: 0.6;
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;

    top: 75px;
    left: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;

    gap: 16px;

    background: rgba(255,255,255,0.95);

    backdrop-filter: blur(20px);

    padding: 24px;

    border-radius: 24px;

    border: 1px solid rgba(123,191,89,0.12);

    box-shadow:
      0 20px 50px rgba(0,0,0,0.08);

    opacity: 0;
    pointer-events: none;

    transform: translateY(-10px);

    transition: 0.3s;
  }

  .nav-links.show {
    opacity: 1;

    pointer-events: auto;

    transform: translateY(0);
  }
}
